<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Auth</servlet-name>
    <servlet-class>servlet.Auth</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Form</servlet-name>
    <servlet-class>servlet.Form</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Point</servlet-name>
    <servlet-class>servlet.Point</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Point</servlet-name>
    <url-pattern>/point</url-pattern>
  </servlet-mapping>
</web-app>
